.scene {
  position: relative;
  width: 256px;
  height: 240px;
  border: 1px solid black;
  zoom: 1.5;
  overflow: hidden;
}

.stage {
  position: relative;
  min-width: 256px;
  height: 240px;
  transition: .2s all linear;
}

body {
  margin: 0;
  background-color: #4F95F8;
}
